@import "webstatic:/ui/global.less";
/**
 * AUI Page Header
 * this sucks - the com.atlassian.auiplugin:aui-experimental-module-and-header dependency doesn't seem to work,
 * so I've had to copy the styles in to get them to work.
 */

.aui-page-header-inner {
    border-spacing: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    table-layout: auto;
    width: 100%;
}

.aui-page-header-image,
.aui-page-header-main,
.aui-page-header-actions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
/* collapse the cell to fit its content */
.aui-page-header-image {
    white-space: nowrap;
    width: 1px;
}
.aui-page-header-main {
    vertical-align: middle;
}
.aui-page-header-image + .aui-page-header-main {
    padding-left: 10px;
}
.aui-page-header-actions {
    padding-left: 20px;
    text-align: right;
    vertical-align: middle;
}
.aui-page-header-main > h1,
.aui-page-header-main > h2,
.aui-page-header-main > h3,
.aui-page-header-main > h4,
.aui-page-header-main > h5,
.aui-page-header-main > h6 {
    margin: 0;
}
.aui-page-header-actions > .aui-buttons {
    margin: 5px 0; /* spaces out button groups when they wrap to 2 lines */
    vertical-align: top;
    white-space: nowrap;
}


#projects-dropdown-multi-select, #roles-dropdown-multi-select, #groups-dropdown-multi-select{
    position: absolute;
    background: white;
}

.select-all-dialog{
  padding: @gutter;
}

//END SUCKY COPY STUFF
.user-admin-plugin {
    .user-admin-container {
        > .aui-item:first-child {
            width:660px;
        }

      .count-pagination{
        a{
          display: inline-block;
          margin: 0 0.5em;

          &.current-page{
            color: @aui-color-text;
            cursor: default;

            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }
    .user-admin-toolbar > .aui-item + .aui-item {
        text-align:right;
        width: 20%;
    }

    .text-query-container {
        display:inline-block;
        margin-left:10px;
        vertical-align:top;
        .search-entry {
            border: 1px solid #bbb;
            border-radius: 3px;
            box-sizing: border-box;
            height: 0;
            min-height: 28px;
            overflow: hidden;
            padding: 0 22px 0 6px;
            min-width: 300px;
        }
        .text-submit {
            border: none;
            cursor: pointer;
            text-indent: -9999px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAn0lEQVR42q2RoQ6GMAyEp/oCc1OovcAcqgo1FIpfobB7f0cht6QhLeFPaHJiu37brQsB1VpLokm0Qz9REVHwSsysgEVURZtakwUlNJyNUe2TiOHNFtjjRSdNNf0e5+EZA3qKBc4PYPLAFe8jBxwB5rtRYLABxT5d60TCyK/I+JqEmzb1TezBVTV5Ym8QEdFPDdjjV7Bz4GdwDv8U4As6AFxBlH64u1cRAAAAAElFTkSuQmCC) 2px center no-repeat;
            width: 22px;
            height: 22px;
            position: relative;
            margin-left: -22px;
            outline: none;
        }
    }
    .view-item-details {
        margin-top: @gutter;
    }
    .user-hover.user-avatar.user-medium-avatar {
        background-size: 32px 32px;
        padding: 2px 0 20px 44px;
    }
    .user-row {
        .username, .fn, .email, time {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            vertical-align: top;
        }
    }

    table.selectable-results-list {
      > thead > tr > th:first-child,> tbody > tr > td:first-child{
        padding-right: 0;
      }
    }

    .user-admin-details-panel {
        > div {
            box-shadow: -2px 2px 7px rgba(0, 0, 0, .15);
            padding:@gutter;
        }

        h2{
          overflow: hidden;
          span{
            margin: 0 0.1em;
          }
        }

        .jira-multi-select, .jira-multi-select textarea{
            width: 100%;
        }
    }

}

